1. Construct a list (shoppingList) including 'potatoes', 'carrots', 'cod' and 'sprouts’

In [13]:
#ex.1
shoppingList = ['potatoes','carrots','cod','sprouts']
print(shoppingList)

['potatoes', 'carrots', 'cod', 'sprouts']

2. Get the second and the last element of the list

In [16]:
print("O segundo elemento é " + shoppingList[1])
print("O último elemento é " + shoppingList[-1])

O segundo elemento é carrots
O último elemento é sprouts

3. Iterate though the list

In [20]:
for purchase in shoppingList:
    print(purchase)

potatoes
carrots
cod
sprouts

4. Create a new list (studentList)

In [21]:
studentList = ['Mariana', 'Patrícia', 'João']

5. Add the following elements to the shoppingList: orange and lime

In [23]:
shoppingList.append('orange')
shoppingList.append('lime')
print(shoppingList)

['potatoes', 'carrots', 'cod', 'sprouts', 'orange', 'lime']

6. Remove the carrots, the first element and last element of the shoppingList list

In [24]:
shoppingList.remove('carrots')
shoppingList.pop()
del shoppingList[0]
print(shoppingList)

['cod', 'sprouts', 'orange']

7. Delete the student list

In [25]:
del studentList

8. Create a list with the double values os number between 1 and 15

In [27]:
numList = [2*x for x in range(1,15)]
print(numList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

9. Obtain the first 3 elements of the list

In [28]:
primeirosTres = numList[:3]
print(primeirosTres)

[2, 4, 6]

10. What is the result of, Why?
shopping = shoppingList
shoppingListCopy = shoppingList[:]
print(shopping)

In [29]:
shopping = shoppingList
shoppingListCopy = shoppingList[:]
print(shopping)

['cod', 'sprouts', 'orange']

11. What is the result of, Why?
shopping = shoppingList
shoppingList.append("orange")
print(shopping)

In [30]:
shopping = shoppingList
shoppingList.append("orange")
print(shopping)

['cod', 'sprouts', 'orange', 'orange']

12. Remove all the items from the shoppingList

In [33]:
del shoppingList[:]
print(shoppingList)

[]

13. What is the result of, Why?
newPurchases= ('bananas','beans','rice')
print (newPurchases [1])
newPurchases [0] = "apple"

In [37]:
newPurchases = ('bananas', 'beans', 'rice')
print (newPurchases[1])
newPurchases[0] = 'apple'

beans

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Dá erro porque como é Tuple os dados não podem ser modificados

15. Create a dictionary including the follwoing elements: orange, apple, pear, grape and peach. Key are 1 to 5.
    Iterate through key-value pair

In [40]:
fruit = {1:'orange',2:'apple',3:'pear',4:'grape',5:'peach'}
for key, value in fruit.items():
    print('The fruit ' + str(key) + ' is ' + value)

The fruit 1 is orange
The fruit 2 is apple
The fruit 3 is pear
The fruit 4 is grape
The fruit 5 is peach

16. Create a weekList that is composed of several lists, each one corresponding to a day.

In [8]:
fruit = ['orange','apple','pear','grape','peach']
week = ['monday', 'tuesday', 'wednesday','thursday','friday','saturday','sunday']
for (a,b) in zip (week,fruit):
    print('Na ' + a + ' deves comprar ' + b)

Na monday deves comprar orange
Na tuesday deves comprar apple
Na wednesday deves comprar pear
Na thursday deves comprar grape
Na friday deves comprar peach